@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  user-select: none;
  background-color: #15202b;
  color: white;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.App {
  /* border: 1px solid black; */
  max-width: 80rem;
  margin:auto;
  display: flex;
  justify-content: center;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17rem;
  height: 100vh;
  padding: 0 0.5rem;
  /* border: 1px solid blue; */
}

.navbar-top {
  display: flex;
  flex-direction: column;
}

.navbar-bottom {
  display: flex;
  flex-direction: column;
}

.site-logo {
  color: white;
  font-size: 2.5rem !important;
  cursor: pointer;
  margin: 1rem;
}

.nav-link {
  font-size: 1.3rem !important;
  font-weight:600;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  padding: 0.6em;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 9999px;
}

.nav-icon {
  font-size: 2rem !important;
  margin-right: 0.6em;
  margin-left: 0.1em;

}

.nav-link:hover {
  color: #1da1f2;
  background-color: hsl(203, 89%, 15%);
}

button {
  border-radius: 9999px;
  border: none;
  outline: none;
  background-color: #1da1f2;
  color:white;
  font-size: 1rem;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: hsl(203, 89%, 45%);

}

.user {
  position: relative;
}

.user img {
  width: 2rem;
  border-radius: 100%;
  margin-right: 1em;
}

.user-name {
  font-size: 1rem;
  font-weight: 600;
}

/* Middle section */
.App-mid {
  width: 37rem;
  /* border: 1px solid green; */
  display:flex;
  flex-direction: column;
}

/* Header and search */

.page-header {
  height: 3rem;
  padding: 0 1em;
  border: 1px solid hsl(206, 16%, 26%);
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.search-form {
  height: 100%;
  display: flex;
  align-items: center;
}

.search-form input {
  height: 80%;
  outline: none;
  border: none;
  background: #253341;
  color: white;
  padding: 0;
  margin: 0;
}

.search-form button {
  padding: 0 0.5rem;
  margin: 0;
  height: 80%;
  border-radius: 0;
  background: #253341;
}

/* Tweet form */

.tweet-form {
  height: 10rem;
  border: 1px solid hsl(206, 16%, 26%);
  border-top:none;
  display: flex;
}

.tweet-left {
  width: 6rem;
  /* border: 1px solid lightgrey; */
  text-align: center;
  padding-top: 0.7rem;
}

.tweet-left img {
  width: 3.5rem;
  border-radius: 50%;
}

.tweet-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid lightgrey; */
  padding: 0.8rem 0;
}

.tweet-right textarea {
  display: block;
  width: 95%;
  padding: 0;
  border: none;
  /* border: 1px solid lightgrey; */
  outline: none;
  font-size: 1.3rem;
  resize:none;
  overflow: auto;
  font-family: inherit;
  padding: 0.5rem;
  background: transparent;
  color: white;
}

::placeholder {
  color: #8899a6;
}

.tweet-right-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid hsl(206, 16%, 26%);
  padding: 0.6rem;
  padding-bottom: 0;
  width: 92%
}

.tweet-right-bot button {
  font-size: 0.8rem !important;
  margin: 0;
}

.tweet-right-bot .nav-link {
  font-size: 1.5rem !important;
  padding: 0.5em !important;
}

.spacer {
  background-color: #192734;
  height: 0.8rem;
  border: 1px solid hsl(206, 16%, 26%);
  border-top: none;
}

/* single tweet */

.tweet {
  border: 1px solid hsl(206, 16%, 26%);
  border-top:none;
  display: flex;
}

.tweet-header {
  margin-bottom: 0.2rem;
}

.tweet-user-name {
  font-size: 1.1rem;
  font-weight: 700;
}

.time {
  color: #8899a6;
}

.img-box {
  width: 95%;
  padding-top: 56.25%;/* 16:9 Aspect Ratio */
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img-box img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.tweet-text {
  margin-bottom: 0.6rem;
}

.tweet-reactions {
  color: #8899a6;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 0.6rem;
  transition: 0.2s;
}

.tweet-reactions:hover {
  color: hsl(330, 50%, 50%)
}

.tweet-reactions span {
  margin-right: 0.2em;
}

